<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaginationServlet</servlet-name>
    <servlet-class>servlet.PaginationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserQueryPaginationServlet</servlet-name>
    <servlet-class>servlet.UserQueryPaginationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpAndDownloadServlet</servlet-name>
    <servlet-class>servlet.UpAndDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileQueryPaginationServlet</servlet-name>
    <servlet-class>servlet.FileQueryPaginationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>servlet.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrivServlet</servlet-name>
    <servlet-class>servlet.PrivServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleAsignServlet</servlet-name>
    <servlet-class>roleassign.RoleAsignServlet</servlet-class>
  </servlet>

  <servlet-mapping>
   <servlet-name>RegisterServlet</servlet-name>
   <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaginationServlet</servlet-name>
    <url-pattern>/servlet/PaginationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryPaginationServlet</servlet-name>
    <url-pattern>/servlet/UserQueryPaginationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpAndDownloadServlet</servlet-name>
    <url-pattern>/servlet/UpAndDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileQueryPaginationServlet</servlet-name>
    <url-pattern>/servlet/FileQueryPaginationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/servlet/ResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivServlet</servlet-name>
    <url-pattern>/servlet/PrivServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleAsignServlet</servlet-name>
    <url-pattern>/servlet/RoleAsignServlet</url-pattern>
  </servlet-mapping>
  
   <filter>
        <filter-name>PrivFilter</filter-name>
        <filter-class>filter.PrivFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrivFilter</filter-name>
        <url-pattern>/servlet/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/welcome.jsp</url-pattern>
    </filter-mapping>
   
 
    
</web-app>
